.App {
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: large;

}

input {
  width: 300px;
  height: 50px;
  font-size: 15px;
  padding-left: 10px;
  margin: 5px;
  text-align: center;

}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 1400px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  background: linear-gradient(to right, #cc2b5e 0%, #753a88 100%);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
  
}

.employee h5 {
  margin: 20px;
  display: block;
  font-size: large;
}

.employee article{
  background-color: black;
  display: flex;
  margin-left: 550px;
  width: 0%;
}

.navigation {
  font-size: 18px;
}
